language: python
addons:
  apt:
    sources:
      - llvm-toolchain-precise-3.8
      - ubuntu-toolchain-r-test
    packages:
      - clang-format-3.8
python:
  - "3.6"
install:
  - pushd /tmp
  - wget https://github.com/protocolbuffers/protobuf/releases/download/v3.13.0/protoc-3.13.0-linux-x86_64.zip
  - unzip protoc-3.13.0-linux-x86_64.zip
  - popd
  - export PATH=/tmp/bin:$PATH
script:
  # Build all test...
  - chmod +x ./compile_base.py
  # Generates new Rcp.proto from raw and all test...
  - ./compile_base.py -g -r -1
  - ./compile_base.py -l cpp -1 -k
  - ./compile_base.py -l csharp -1 -k
  - ./compile_base.py -l java -1 -k
  - ./compile_base.py -l js -1 -k
  - ./compile_base.py -l python -1 -k
  - ./compile_base.py -l php -1 -k
  - ./compile_base.py -l objc -1 -k
  - ./compile_base.py -l ruby -1 -k
  - chmod +x ./compile_src.py
  - ./compile_src.py cpp --include_imports --include_source_info --generate_desc
  - ./compile_src.py csharp --include_imports --include_source_info --generate_desc
  - ./compile_src.py java --java_multiple_files --include_imports --include_source_info --generate_desc
  - ./compile_src.py js
  - ./compile_src.py python
  - ./compile_src.py php --include_imports --include_source_info --generate_desc
  - ./compile_src.py objc --include_imports --include_source_info --generate_desc
  - ./compile_src.py ruby
  - clang-format-3.8 -i -style file $(find src -name "*.proto")
  - git diff --exit-code
